<div class="mainChats">

    <div class="leftButtons">
       
    </div>

    <div class="headerChats">
    
        <div class="headerChatsElement">

            <div class="OtherOptions">
             
              <div class="paragrafo"> 
                <button  (click)="myChat()" class="btnChats" style="margin-left: 0.3rem;"> My chats</button>
                <button (click)="newChat()" class="btnChats" style="margin-left: 0.5rem;"> New chat</button>
             </div>
                  
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon> <img src="assets/Images/more.png" alt="Send"></mat-icon>
                </button>
                  
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openModal()">New Group</button>
                    <button mat-menu-item>New Conversation</button>
                    <button mat-menu-item>Settings</button>
                  </mat-menu>
                  
            </div>
         
            
           <mat-form-field style="margin-left: 1rem; width: 80%;" appearance="outline" class="inputSearch" (input)="search($event)">

            <mat-label>Search</mat-label>
            <input matInput type="search" placeholder="ex:John" >
        
            </mat-form-field>


        </div>
        
        <div class="Friends">
          <!-- Exibe allConversations.allParticipants quando controlChats for false -->
          <div *ngIf="controlChats == false"  style="width: 100%; height: 100%;">
            <div *ngFor="let i of chatWith" class="userProfInfo">
              <mat-card (click)="chatUser(i)" style="width: 100%;" class="cardUser" *ngIf="i.status == true && i.id != userAuthenticated">
                <mat-card-content style="display: flex; gap: 1rem;">
                  <img src="assets/Images/perfil.png" class="imgUser">
                  <p class="userName">{{ i.firstname + " " + i.lastname }}</p>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        
          <!-- Exibe users quando controlChats for true -->
          <div *ngIf="controlChats == true" style="width: 100%; height: 100%;">
            <div *ngFor="let i of availableNewChat" class="userProfInfo">
              <mat-card (click)="chatUser(i)" style="width: 100%;" class="cardUser" *ngIf="i.status == true && i.id != userAuthenticated">
                <mat-card-content style="display: flex; gap: 1rem;">
                  <img src="assets/Images/perfil.png" class="imgUser">
                  <p class="userName">{{ i.firstname + " " + i.lastname }}</p>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        
          <!-- Exibe allConversations.allParticipants quando controlChats for 'myChats' -->
          <div *ngIf="controlChats === 'myChats'" style="width: 100%; height: 100%;">
            <div *ngFor="let i of chatWith" class="userProfInfo">
              <mat-card (click)="chatUser(i)" style="width: 100%;" class="cardUser" *ngIf="i.status == true && i.id != userAuthenticated">
                <mat-card-content style="display: flex; gap: 1rem;">
                  <img src="assets/Images/perfil.png" class="imgUser">
                  <p class="userName">{{ i.firstname + " " + i.lastname }}</p>
                </mat-card-content>
              </mat-card>
            </div>
          </div>

          <!-- Exibe o usuario que esta sendo buscado! -->
          <div *ngIf="controlChats === 'searching'" style="width: 100%; height: 100%;">
            <div *ngFor="let i of users" class="userProfInfo">
              <mat-card (click)="chatUser(i)" style="width: 100%;" class="cardUser" *ngIf="i.status == true && i.id != userAuthenticated">
                <mat-card-content style="display: flex; gap: 1rem;">
                  <img src="assets/Images/perfil.png" class="imgUser">
                  <p class="userName">{{ i.firstname + " " + i.lastname }}</p>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
        
       
    </div>

    <div class="chats">

         <div class="startingMessage" *ngIf="clicked == false"> Click on any chat on your left to start conversation! </div>

    
          
        <div class="perfilFriend" *ngIf="clicked == true">

          
            <mat-card style="width: 100%; " class=" profile ">
                <mat-card-content style=" width: 100%;  display: flex; justify-content: space-between;">
                 
                  <div style="display: flex; gap: 1rem; width: 50%;" >
                    <img src="assets/Images/perfil.png" class="imgUser">
                    <p class="userName">{{selectedUser}}</p>
                  </div> 
                 
                    <button class="btnSearch" style=" justify-content: flex-end; border: none; background-color: white;">
                      <img src="assets/Images/search.png" class="imgUser">
                    </button>
                </mat-card-content>
              </mat-card>
              
        </div>  

        
        <div class="Messages">
         <!-- <div class="SearchDoc"> </div> -->
          <div *ngIf="clicked == true && userContent" style="width: 100%; display: flex; flex-direction: column; align-items: flex-start;">
           
            <div *ngFor="let item of userContent.content">
              <ng-container *ngIf="item.data.type === 'message' && item.data.userId === userAuthenticated ">
                <!-- Exibir mensagem -->
                <mat-card   style=" margin-right: 4rem; border-radius: 10px; margin-bottom: 0.5rem; margin-left: 30rem; background-color: rgba(172, 243, 172, 0.726);">
                  <mat-card-content>
                    <p style="font-size: 16px;">{{ item.data.content_or_FileName}}</p>
                    <small style="display: flex; justify-content: flex-end; padding-top: 0.5rem;">{{ item.data.sentAt_or_UploadedAt| date:'HH:mm'}}</small>
                  </mat-card-content>
                </mat-card>
              </ng-container>

              <ng-container *ngIf="item.data.type === 'message' && item.data.userId !== userAuthenticated ">
                <!-- Exibir mensagem -->
                <mat-card   style="margin-bottom: 0.5rem; margin-left: 4rem; border-radius: 10px; margin-right: 4rem; background-color: lightgray;">
                  <mat-card-content>
                    <p style="font-size: 16px;">{{ item.data.content_or_FileName}}</p>
                   <small style="display: flex; justify-content: flex-end; padding-top: 0.5rem;">{{ item.data.sentAt_or_UploadedAt | date:'HH:mm' }}</small>

                  </mat-card-content>
                </mat-card>
              </ng-container>
           

              <ng-container *ngIf="item.data.type === 'document' && item.data.userId === userAuthenticated">  
                <!-- Exibir documento -->
                <mat-card  (click) ="getDoc(item.data)" [style.background-color]="'rgba(172, 243, 172, 0.726)'"   style="margin-right: 4rem; border-radius: 10px; margin-bottom: 0.5rem; margin-left: 30rem; background-color: rgba(172, 243, 172, 0.726);">
                  <mat-card-content>
                    <p style="font-size: 16px; ">{{ item.data.content_or_FileName}}</p>
                    <small style="display: flex; justify-content: flex-end; padding-top: 0.5rem;">{{item.data.sentAt_or_UploadedAt | date:'HH:mm'}}</small>
                  </mat-card-content>
                </mat-card>
              </ng-container>
              <ng-container *ngIf="item.data.type === 'document' && item.data.userId !== userAuthenticated">  
                <!-- Exibir documento -->
                <mat-card  (click) ="getDoc(item.data)" [style.background-color]="'lightgray'" style="margin-bottom: 0.5rem; border-radius: 10px; margin-left: 4rem; margin-right: 4rem; background-color: lightgray;">
                  <mat-card-content>
                    <p style="font-size: 16px; ">{{ item.data.content_or_FileName}}</p>
                    <small style="display: flex; justify-content: flex-end; padding-top: 0.5rem;">{{item.data.sentAt_or_UploadedAt | date:'HH:mm'}}</small>
                  </mat-card-content>
                </mat-card>
              </ng-container>
            </div>
          </div>
        </div>   
        
        <div class="textArea" *ngIf="clicked">

            <form [formGroup]="messageForm" (ngSubmit)="onSubmit()" #documentForm="ngForm" style="width: 100%; margin-left: 0.5rem; margin-right: 0.5rem; display: flex; flex-direction: column; gap: 0.2rem;">
            
              <div>
                <input type="file" name="file" (change)="onFileSelected($event)" required style="">
                <input type="hidden" name="conversationId" formControlName="conversationId" value="">
                <input type="hidden" name="userId" formControlName="userId" value="1">
              </div>
              
              <div style=" width: 100%; display: flex;  justify-content: space-between; ">
              
                <mat-form-field style="width: 95%; height: 5rem;">
                  <mat-label>Type here!</mat-label>
                  <textarea matInput placeholder="Ex. Good Morning, here's the document you were wondering about!" formControlName="userMessage"></textarea>  
                </mat-form-field>

                <div style="margin-top: 1rem; margin-right: 1.3rem;">
                  <button type="submit" style="border: none; background-color: white;"> 
                    <img src="assets/Images/sendIcon.png" alt="Send">
                  </button>
                </div>

              </div>
            </form>
          </div>      

    </div>

</div>