*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.mainChats{
    
    width: 95%;
    height: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 5px 20px rgb(209, 209, 209) ;
    display: flex;
    overflow: hidden;
    border-radius: 12px;
}


.headerChats{
   
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
   

}

.paragrafo{

    width:12.8rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;

}

.btnChats{
    background-color: white;
    border: none;
    cursor:pointer;
    font-size: 14px;

}

.btnChats:hover{

    transition: 1s all ease-out;
    color: dodgerblue;
}

.Friends{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    background-color: white;
   
}
.userProfInfo{

    width: 100%;
    height: 16%;
    display: flex;
}
.headerChatsElement{

    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
 
}
.OtherOptions{
    display: flex;
    width: 100%;
    justify-content:space-between;
}

.inputSearch{
    width: 100%;
    padding-top: 0.5rem;
   
}


.chats{

    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
 
}

.perfilFriend{
   
    width: 100%;
    height: 15%;
 
   
}

.Messages{
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;
    overflow-y: scroll;
    background-color: white;
    display: flex;
    justify-content: flex-end;
}

.textArea{

  width: 100%;
  height: 17%;
  display: flex;

}

.MessageTextArea{
    width: 40rem;
    height: 5rem;
  
    
}


.btnMenu{
   
     font-size: 16px;
    
}

.btnSearch:hover{
    background-color: lightgray;
    cursor: pointer;
}
.cardUser:hover{
   background-color: lightgray;
   cursor: pointer;
  
}
.profile{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 1px rgb(209, 209, 209);
}

.imgUser{

    width: 30px; 
    height: 30px; 
    border-radius: 5rem;

}
.userName{
    padding-top: 0.5rem; 
    font-size: 18px;
    
}

.startingMessage{
   padding-top: 30%;
   padding-left: 22%;
   font-size: 22px;
}
.SearchDoc{
    width: 15rem;
    height: 100%;
    border-radius: 12px;
    position: absolute;
    background-color: white;
    border: 1px solid lightgray;
}