/* Define o estilo para o container principal */
.content {
    height: calc(100vh - 80px); /* Altura ajustada para o conteúdo rolável */
    padding: 10px;
    box-sizing: border-box; /* Inclui o padding na altura total do container */
 
}

/* Estilo para a área de busca e botões */
.search-input {
    display: flex; /* Usa flexbox para alinhar os itens horizontalmente */
    align-items: center; /* Alinha verticalmente os itens no centro */
    margin-bottom: 20px; /* Espaçamento inferior para separar da lista de usuários */
}

/* Estilo para o campo de busca */
.search-field {
    flex: 1; /* O campo de busca ocupa o máximo de espaço disponível */
    margin-right: 10px; /* Espaçamento entre o campo de busca e os botões */
}

/* Estilo para os botões */
button[mat-button] {
    margin-left: 5px; /* Espaçamento entre os botões */
    flex-shrink: 0; /* Garante que os botões não encolham */
    margin-bottom:  1rem;
}

/* Estilo para o contêiner principal dos usuários */
.mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Garante que o contêiner ocupe a largura total */
}

/* Estilo para cada item de usuário */
.userProfInfo {
    width: 100%;
    margin-bottom: 10px;
    width: 100%;
}

/* Garante que o mat-card ocupe todo o width do seu container */
.full-width-card {
    width: 100%;
}

/* Estilo para o conteúdo do mat-card */
.card-content {
    display: flex;
    gap: 1rem;
    align-items: center; /* Alinha verticalmente os itens no centro */
    width: 100%;

}

/* Estilo para a imagem do usuário */
.imgUser {
    width: 50px; /* Ajuste conforme necessário */
    height: 50px; /* Ajuste conforme necessário */
    object-fit: cover; /* Mantém a proporção da imagem */
    border-radius: 50%; /* Faz a imagem circular */
}

/* Estilo para o nome do usuário */
.userName {
    margin: 0; /* Remove margens padrões */
}

/* Estilo para o checkbox que ocupa 100% da largura */
.full-width-checkbox {
    width: 100%;
}
.imgStyle{
  
    width: 30px;
    height: 30px;
  }
  span{
    width: 100%;
    display: none;
  }
  button:hover{
    background-color: rgb(0,26,49);
    color: white;
    transition: 1s all  ease-in-out;
    text-align: center;
    
    .imgStyle{
        display: none;
        
    }
    span{
        display: flex;
    }
  }

  .btnCancel:hover{
    background-color: red;
    color: white;
    transition: 1s all  ease-in-out;
    text-align: center;
    
    .imgStyle{
        display: none;
        
    }
    span{
        display: flex;
    }
  }