

<div class="loginMain">

    <div class="loginLogo">
          
        <div style = "font-size: 25px; color: white;"> Dmz Software</div>
        <div style = "font-size: 18px; color: white;"> Try Dmz software's social media!</div>
    </div>

    <div class="loginTemplate">

        <form class="FormLogin" [formGroup] = "userForm" (ngSubmit) = "submit()" #formDit = "ngForm" >
              
            <p class="headerLogin"> Sign In</p>

            <div class="FormLogin ">
 
                <mat-form-field appearance="fill" class="inputLogin">

                    <mat-label>Email</mat-label>
                    <input matInput type="email" placeholder="ex: Djambless@gmaill.com" formControlName = "email" required >
                 
                </mat-form-field>
                  
                  <mat-form-field appearance="fill" class="inputLogin">

                    <mat-label>Senha</mat-label>
                    <input matInput type="password" placeholder="ex: watara" formControlName = "password" required >
                  
                  </mat-form-field>
                  
                  <button mat-raised-button class= "inputLogin buttonLoginForm"  type="submit">Login</button>
                  
                

            </div>

        </form>
           
    </div>

</div>
