<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="header">
    <div class="search-input">
      <mat-form-field>
        <input matInput placeholder="eg:John" (input)="search($event)">
      </mat-form-field>
    </div>
    <div class="group-name-input">
      <mat-form-field>
        <input matInput placeholder="eg: Dmz Software" formControlName="groupName">
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="submit" style="margin-bottom: 1.5rem;">Create Group</button>
  </div>
</form>



<div class="content">
  <!-- Conteúdo rolável abaixo -->
  <div class="mainDiv">
    <div *ngFor="let user of users" class="userProfInfo">
      <mat-checkbox (change)="getParticipant(user)" [checked]="isSelected(user)">
        <mat-card class="full-width-card">
          <mat-card-content style="display: flex; gap: 1rem;">
            <img src="assets/Images/perfil.png" class="imgUser">
            <p class="userName">{{ user.firstname + " " + user.lastname }}</p>
          </mat-card-content>
        </mat-card>
      </mat-checkbox>
    </div>
  </div>
</div>

