 <nav class="navBar">

    <div class="coderInfo"> 
       
       <label class="coderName">DMZ</label>
       <label class="description">software</label>
    
    </div>

    <div class="navBarLinks">

        
        <div class="buttonNavBar">

            <button mat-raised-button  routerLink ="/HomeMain" > 

                <img src="assets/Images/home.png" alt="" class="imgStyle">
                <span>Home</span>

            </button>

            <button mat-raised-button  routerLink ="/HomeMain/AllDepartments">

                <img src="assets/Images/department.png" alt="" class="imgStyle">
                <span>Department</span>


            </button>

            <button mat-raised-button  routerLink ="/HomeMain/AllUsers" > 

                <img src="assets/Images/collaborators.png" alt="" class="imgStyle">
                <span>Collaborators</span>

            </button>

            <button mat-raised-button  routerLink ="/Login" > 

                <img src="assets/Images/logout.png" alt="" class="imgStyle">
                <span>Logout</span>

            </button>
           
        </div>

    </div>
        
 </nav>
 
 <router-outlet></router-outlet>
