 <nav class="navBar">

    <div class="coderInfo"> 
       
       <label class="coderName">DMZ</label>
       <label class="description">software</label>
    
    </div>

    <div class="navBarLinks">

        <ul class="navBarOption">
            
            <li>  <a class="linknavBar"> 
                <img src="assets/Images/home.png" alt="" class="imgStyle">
                <span>Home</span></a>   
                
            </li>
            <li><a routerLink =""> Galery </a></li>
            <li> <a routerLink =""  class="linknavBar"> Products </a></li>
            <li><a routerLink ="" class="linknavBar" > About us </a></li>
        
        </ul>

        <div class="buttonNavBar">

            <button mat-raised-button  routerLink ="/HomeMain/AllDepartments"> Departments</button>
            <button mat-raised-button  routerLink ="/HomeMain/AllUsers" > Collaborators</button>
           
        </div>

    </div>
        
 </nav>
 
 <router-outlet></router-outlet>
